accelerate==0.33.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
atomicwrites==1.4.0
attrs==23.2.0
auto-py-to-exe==2.44.1
backcall==0.2.0
backoff==2.2.1
backports.weakref==1.0.post1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bitarray==2.9.2
bleach==6.1.0
blinker==1.8.2
bottle==0.13.1
bottle-websocket==0.2.9
build==1.2.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
Chroma==0.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.11
click==8.1.7
click-default-group==1.2.4
colbert-ai==0.2.19
colorama==0.4.6
coloredlogs==15.0.1
cryptography==43.0.1
dataclasses-json==0.6.7
datasets==2.20.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docstring-to-markdown==0.15
Eel==0.17.0
email_validator==2.2.0
et-xmlfile==1.1.0
executing==2.1.0
faiss-cpu==1.8.0.post1
fast-pytorch-kmeans==0.2.0.1
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema==2.20.0
ffmpeg-downloader==0.3.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gc-python-utils==0.0.1
gevent==24.2.1
gevent-websocket==0.10.1
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.32.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.65.4
grpcio-tools==1.62.3
gTTS==2.5.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.5
humanfriendly==10.0
hyperframe==6.0.1
idna==3.10
importlib-metadata==6.11.0
importlib_resources==6.4.0
inflection==0.5.1
intel-openmp==2021.4.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kubernetes==30.1.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
langchainhub==0.1.20
langsmith==0.1.88
llama-cloud==0.0.9
llama-index==0.10.62
llama-index-agent-openai==0.2.8
llama-index-cli==0.1.12
llama-index-core==0.10.62
llama-index-embeddings-jinaai==0.2.0
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-huggingface-api==0.1.0
llama-index-llms-openai==0.1.29
llama-index-multi-modal-llms-openai==0.1.7
llama-index-postprocessor-sbert-rerank==0.1.4
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-index-vector-stores-qdrant==0.2.14
llama-parse==0.4.9
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib-inline==0.1.7
mdurl==0.1.2
minijinja==2.0.1
mistune==3.0.2
mkl==2021.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions==1.0.0
narwhals==1.9.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.19.2
openai==1.40.1
openai-whisper==20231117
openpyxl==3.0.10
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.3
pdfminer.six==20240706
pefile==2024.8.26
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
posthog==3.5.0
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pylibjpeg-libjpeg==2.2.0
pyls-spyder==0.4.0
Pympler==1.1
pynvml==11.5.3
pyparsing==3.1.4
pypdf==4.3.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.4
python-multipart==0.0.12
pytz==2024.2
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
qdrant-client==1.11.3
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.5.2
scipy==1.11.4
selenium==4.22.0
sentence-transformers==2.7.0
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.35
sqlite-fts4==1.0.3
sqlite-utils==3.37
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
streamlit==1.25.0
striprtf==0.0.26
sympy==1.13.3
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.5.0
text-generation==0.7.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
torch==2.4.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.42.4
trio==0.25.1
trio-websocket==0.11.1
typer==0.12.3
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.3.1
ujson==5.10.0
urllib3==2.2.3
uvicorn==0.30.1
validators==0.34.0
voyager==2.0.7
watchdog==5.0.3
watchfiles==0.22.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
xxhash==3.4.1
yarg==0.1.9
yarl==1.13.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.3
zstandard==0.19.0